html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.video-container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none; /* se mostrará según orientación */
    position: absolute;
    top: 0;
    left: 0;
}

#iframe-container {
    width: 100%;
    height: 100vh;
    display: none;
}

#app-frame {
    width: 100%;
    height: 100%;
    border: none;
}

footer {
    position: relative; 
    z-index: 20;
    padding: 10px;
    background-color: #f0f0f0;
    text-align: center;
    font-size: 14px;
}